{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
